:root {
    --primary-color: rgb(0 8 124);
    --light-primary-color: #65aadd;
    --secondary-color: rgb(205 150 0);
}
body {
    background: url("../images/bg-1.jpg");
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    background-size: cover;
}
body::before {
    content: "";
    position: fixed;
    inset: 0;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); 
    z-index: -1;
}
span, a {
    color: #fff !important;
}
a:hover {
    color: var(--secondary-color) !important;
}
.login-container .row{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0 100px;
}
.login-left-content {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 600px;
    padding: 30px 50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.login-left-content img {
    width: 100px;
    margin-bottom: 20px;
}
.login-left-content h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--primary-color);
}
.login-left-content h3.sp-tagline {
    font-size: 22px;
    margin-bottom: 20px;
    color: var(--primary-color);
}
.login-right-content {
    display: inline-grid;
    align-items: center;
    background-color: var(--primary-color);
    padding: 70px 50px;
    min-height: 600px;
    color: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.login-right-content h1 {
    display: flex;
    gap: 12px;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
}
.login-right-content h1::after {
    content: "";
    flex: 1;
    height: 2px;
    background-color: #fff;
}
.login-right-content p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
}
.login-right-content label {
    color: #fff;
}
.login-right-content input {
    color: #000;
}
.login-btn {
    background: var(--secondary-color);
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
}
.login-btn:hover {
    background: #fff;
    color: var(--secondary-color) !important;
}

/* OPTION1 */
/* body {
    background: url("../images/bg-1.jpg");
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    background-size: cover;
}
body::before {
    content: "";
    position: fixed;
    inset: 0;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); 
    z-index: -1;
}
.login-content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-form {
    background: #fff;
    padding: 20px 50px 70px 50px;
    border-radius: 20px;
}
.login-form img {
    width: 200px;
    margin: 20px auto 20px auto;
}
.login-form .sp-tagline {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
    color: var(--primary-color);
}
.login-form h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
    color: var(--primary-color)
}
.login-form h1::before,
.login-form h1::after {
    content: "";
    flex: 1;
    height: 2px;
}
.login-form h1::before {
    background:linear-gradient(90deg, var(--primary-color), var(--secondary-color), transparent);
}
.login-form h1::after {
    background:linear-gradient(270deg, var(--primary-color), var(--secondary-color), transparent);
}
.login-form p {
    text-align: center;
    margin-bottom: 20px;
}
.login-btn {
    background: var(--primary-color);
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
}
.login-btn:hover {
    background: var(--secondary-color);
}
@media(max-width: 768px) {
    .login-form {
        margin: 0 15px;
        padding: 20px 30px 50px 30px;
    }
}  */
/* body {
    background-color: #fff;
    overflow-x: hidden;
    background-size: cover;
}
a:hover {
    color: var(--secondary-color);
}
.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 620px;
    margin: auto;
}
.login-bg {
    position: relative;
    background: url("../images/bg-1.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.login-bg::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-image: linear-gradient(to top left, var(--secondary-color), var(--light-primary-color) 80%);
    opacity: 0.7;
}
.login-bg > * {
    position: relative;
    z-index: 1;
}
.login-content {
    background: url('../images/login-bg.jpg');
    background-repeat:no-repeat;
    background-size: cover;    
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-form {
    width: 100%;
    margin: 0 10%;
    border-radius: 20px;
}
.login-form h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    color: var(--primary-color);
}
.login-form p { 
    margin-bottom: 40px;
    text-align: center;
    font-size: 18px;
}
.login-logo{
    width: 180px;
    margin: 0px auto 40px auto;
}
.login-btn {
    background: var(--primary-color);
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
}
.login-btn:hover {
    background: var(--secondary-color);
}

@media(max-width: 768px) {
    .login-bg {
        display: none;
    }
    .login-content {
        height: 100vh;
    }
} */

